// about section
.about-section {
    background-color: $color-grey-lite;
    padding: 25rem 0;
    margin-top: -20vh;
}

.feature-section {
    background-image: linear-gradient((to right bottom), rgba($color-primary, .8), rgba($color-primary-dark, .8))
}